* {
    box-sizing: border-box;
}

body {
    background-color:#c4c4c4;
}

.button {
    color: black;
    border-radius: 10px;
    background-color: #c5e09b;
    margin: 10px;
    padding: 10px;
    width: 40%;
    float: left;
    height: auto;
    border: none;
    cursor: pointer;
}

.buttonSelected {
    background-color: #77a12a;
    cursor: pointer;
}

.button:hover {
    background-color: #77a12a;
    cursor: pointer;
}

.button:focus { 
    outline: none; 
}

.lblText {
    font-weight: bold;
    width: 70%;
    float: left;
}

.menuLblText {
    width: 70%;
    text-align: right;
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
}

.filterMenu {
    width: 25%;
    float: left;
    height: auto;
    background-color: #ffffff;
}

.footer {
   width: 100%;
   background-color: #c4c4c4;
   color: black;
   text-align: center;    
   font-weight: bold
}

.imageBadge {
    background-color: #c4c4c4;
}

.bold {
    font-weight: bold;
    padding: 2px;
}

.colorText {
    color: #9197c0;
}

.colorTitle {
    color: #2d5372;
}


.cardsContainer {
    width: 75%;
    float: left;
    height: auto;
}

.card {
    display: inline-block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
   width: 100%;
  }
  /* For mobile phones: */
  @media only screen and (max-width: 700px) {
    .menuLblText {
        width: 58%;
        text-align: right;
    }
  }
  
  @media only screen and (min-width: 700px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    .menuLblText {
        width: 60%;
        text-align: right;
    }
  }
  @media only screen and (min-width: 1024px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }